body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }

/* Global */
.container{
  margin-left: 90px;
  

}

ul{
margin-top: -10px;
}

.button_1{
  height: 35px;
  width: 90px;
  background-color: #193549;
  color: #ffffff;
}

.dark{
  background-color: #784f19;
  margin-left: 30px;
  padding: 10px;
}

/* Header **/
header{
    background:#35424a;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
  }
  
  header a{
    color:greenyellow ;
    text-decoration:inherit;
    text-transform:uppercase ;
    font-size:auto;
  }
  
  header li{
    float:right;
    display: inline-block;
    padding: 15px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin: 5px;
    font-size: 35px;
  }
  
  header nav{
    float:right;
    margin-top:18px;
  }
  
  header .highlight, header .current a{
    color:green;
    font-weight:bolder;
    
  }
  
  header a:hover{
    color:rgb(12, 12, 12);
    font-weight:bolder;
  }
  
  /* Showcase */
  #showcase{
    
    background: url('../img/showcase.jpg') no-repeat 0 -400px;
    color:#ffffff;
    padding-top:100px;
    min-height:300px;
    
  }
  
  #showcase h1{
    text-align: center;
    font-size: 40px;
  
  }
  
  #showcase p{
    text-align: center;
    font-size: x-large;
  }
  

/* Newsletter */
#newsletter{
        padding-top: 50px;
        min-height: 40px;
        background-color: #a15587;
}

#newsletter h1{
        margin-top: -20px;
        color: rgb(255, 255, 255);
}

#newsletter form {
        float: right;
        margin-top: -55px;

}

#newsletter input[type="email"]{
    height: 30px;
    width: 250px;
        
}


footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#e8491d;
    text-align: center;
  }
